.idea/
.vscode

# For security purpose
.evn
AtaotaBlog/settings.production.py
AtaotaBlog/urls.production.py

# Remove Database
db.sqlite3

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*.py[co]